fastapi
uvicorn[standard]
pandas
numpy
openpyxl
reportlab
python-multipart
matplotlib

# Auth
python-jose[cryptography]
passlib[bcrypt]

# Database
sqlalchemy

# Pydantic email validation
pydantic[email]